# Compiled binaries
*.o
*.out

# Build folders
build/

# Screenshots
ScreenShots/

# Random notes
attacklist.txt
roadmapv2.txt
StupidWizardsAttacks.txt
attackslist.txt
story.md
norsespells.md
docs/department_stuff/
docs/ScreenShots/
assets/old/

# Dev junk
*.log
*.tmp

# Neovim swap files
*.swp
